@model Vidly.Models.Movie

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* These two do the same thing, I bet you can't guess which is better' *@
<h2>@Model.Name</h2>
@*<h2>((Movie)@ViewData["Movie"]).Name)/</h2>*@

